<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests" thread-count="2">
  <test name="ChromeTest">
    <parameter name="browserName" value="chrome"/>
    <parameter name="browserVersion" value="128.0"/>
    <parameter name="osName" value="Windows 10"/>
    <classes>
      <class name="tests.LambdaTest"/>
    </classes>
  </test>

  <test name="EdgeTest">
    <parameter name="browserName" value="edge"/>
    <parameter name="browserVersion" value="127.0"/>
    <parameter name="osName" value="macOS Ventura"/>
    <classes>
      <class name="tests.LambdaTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
